main > form {
	display: grid;
	grid-template-rows: auto 1fr 1fr auto;
	justify-items: center;
}

input, button {
	width: 80vw;
	font-size: 1em;
	padding: 0.9em;
	margin: 0.2em;
	border: 1px solid #cccccc;
}

button {
	color: #f7f7f7;
	background-color: #0065bd;
	cursor: pointer;
}

@media screen and (min-width: 900px) {
	main > form {
		justify-items: left;
	}

	input, button {
		width: 400px;
	}
}
